/* custom */
@font-face {
    font-family: anton;
    src: url("../public/Anton-Regular.ttf");
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: grey;
    font-family: 'Roboto', system-ui, sans-serif;
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* variable */
:root {
    --oneBlock: calc(100vw / 35);
}

/*
** home
*/
#home {
    width: 100%;
    height: 100%;
    position: relative;
}
.gradient-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    /* background-color: #000; */
}
nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--oneBlock) * 0.375);
}
nav a {
    color: #f8f8f8;
    font-size: calc(var(--oneBlock) * 0.45);
    text-transform: uppercase;
    font-family: anton;
}
nav .nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.45);
}
.control {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 1);
}
.control button {
    /* width:  calc(var(--oneBlock) * 8); */
    font-size: calc(var(--oneBlock) * 1);
    font-family: anton;
    /* color: #f8f8f8; */
    /* background-color: #f8f8f848; */
    background-color: transparent;
    border: calc(var(--oneBlock) * 0.025) solid #f8f8f8;
    padding: calc(var(--oneBlock) * 0.25) calc(var(--oneBlock) * 2);
}
.control a {
    color: #f8f8f8;
}









#gsplat {
    width: 100%;
    height: 100%;
    position: relative;
}

#gsplat-canvas {
    width: 100%;
    height: 100%;
}

dialog {
    width: 100%;
    text-align: center;
    max-width: 20em;
    color: white;
    background-color: #000;
    border: none;
    position: relative;
    transform: translate(-50%, -50%);
}

#progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

progress {
    width: 100%;
    height: 1em;
    border: none;
    background-color: #fff;
    color: #eee;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-value {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #eee;
}





#explore {
    width: 100%;
    height: 100%;
    position: relative;
}
#explore a {
    color: #000;
    /* mix-blend-mode:hue;  */
}
.home-page {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: orange; */
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: anton;
    /* font-size: calc(var(--oneBlock) * 1.9778); */
    font-size: calc(var(--oneBlock) * 1.95);
    text-transform: uppercase;
}
.home-page h1 {
    color: black;
    position: absolute;
    mix-blend-mode: difference;
    top: 76.5%; 

}
.what-page {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}



/* Responsive Media Queries (Mobile-First) */
/* Phone view: up to 576px */
@media (max-width: 576px) {
    html, body {
        background-color: brown;
    }
}

/* Tablet view: 577px to 768px */
@media (min-width: 577px) and (max-width: 768px) {
    html, body {
        background-color: cadetblue;
    }
}