/* custom */
@font-face {
    font-family: anton;
    src: url("../public/Anton-Regular.ttf");
}
@font-face {
    font-family: open;
    src: url("../public/OpenSans-Regular.ttf");
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: grey;
    background-color: #3C3C3C;
    font-family: 'Roboto', system-ui, sans-serif;
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* variable */
:root {
    --oneBlock: calc(100vw / 35);
}

/*
** home
*/
#home {
    width: 100%;
    height: 100%;
    position: relative;
}
.gradient-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    /* background-color: #000; */
}
canvas {
    overflow: hidden;
}
nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--oneBlock) * 0.375);
}
nav a {
    color: #f8f8f8;
    font-size: calc(var(--oneBlock) * 0.45);
    text-transform: uppercase;
    font-family: anton;
}
nav .nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.45);
}
.control {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 1);
}
.control button {
    /* width:  calc(var(--oneBlock) * 8); */
    font-size: calc(var(--oneBlock) * 1);
    font-family: anton;
    /* color: #f8f8f8; */
    /* background-color: #f8f8f848; */
    background-color: transparent;
    border: calc(var(--oneBlock) * 0.025) solid #f8f8f8;
    padding: calc(var(--oneBlock) * 0.25) calc(var(--oneBlock) * 2);
}
.control a {
    color: #f8f8f8;
}









#gsplat {
    width: 100%;
    height: 100%;
    position: relative;
}

#gsplat-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


/* #progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

progress {
    width: 100%;
    height: 1em;
    border: none;
    background-color: #fff;
    color: #eee;
} */

#progress-container {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: #000000df;
    display: none;  
    align-items: center;                  /* hidden by default */
    justify-content: center;
    z-index: 998;
    /* flex-direction: column; */
    color: white;
    font-family: sans-serif;
}
dialog {
    width: 25%;
    text-align: center;
    color: white;
    background-color: #000;
    border: none;
    position: relative; 
}


#progress-dialog {
    background: transparent;
    padding: 30px 0;
    border-radius: 16px;
    text-align: center;
    /* box-shadow: 0 10px 40px rgba(0,0,0,0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#progress-dialog p {
    font-size: calc(var(--oneBlock) * 0.45);
    font-family: anton;
}

progress {
    width: 100%;
    height: 1em;
    border: none;
    background-color: #fff;
    color: #eee;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-value {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #eee;
}

#splat-options {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#splat-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#splat-options li {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
#splat-options li:hover {
    background: #eee;
}
#splat-options li.active {
    background: #ddd;
    font-weight: bold;
} 









#explore {
    width: 100%;
    height: 100%;
    position: relative;
}
#explore a {
    color: #000;
    /* mix-blend-mode:hue;  */
}
.home-page {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: orange; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: anton;
    /* font-size: calc(var(--oneBlock) * 1.9778); */
    font-size: calc(var(--oneBlock) * 2.15);
    text-transform: uppercase;
}
.home-page .left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.home-page  h1 {
    color: #111;
    mix-blend-mode: difference;
    /* top: 76.5%;  */
    line-height: 1;
    margin-left: calc(var(--oneBlock) * 0.375);
    letter-spacing: calc(var(--oneBlock) * (-0.1));
    font-weight: 100;

}
.home-page .right{
    width: 50%;
    min-height: 100vh;
    padding: calc(var(--oneBlock) * 2.75) calc(var(--oneBlock) * 0.7);
    /* background-color: aqua; */
}
.home-page p{
    font-size: calc(var(--oneBlock) * 0.7);
    /* font-family: system-ui; */
    /* font-family: sans-serif; */
    font-family: open;
    font-weight: 200;
    text-transform: capitalize;
    margin-bottom: calc(var(--oneBlock) * 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-page p span {
    background-color: #111;
    color: #f8f8f8;
    padding: calc(var(--oneBlock) * 0.175) calc(var(--oneBlock) * 0.5);
    text-transform: uppercase;
}

.what-page {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.what-page .left {
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
    padding: calc(var(--oneBlock) * 1.5) calc(var(--oneBlock) * 0.375);
}
.what-page .right {
    width: 40%;
    height: 100%;
    /* background-color: rgb(9, 221, 221); */
    padding: calc(var(--oneBlock) * 0.375) calc(var(--oneBlock) * 0.375);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

}
.what-page p, span {
    font-size: calc(var(--oneBlock) * 0.7);
    /* font-family: system-ui; */
    /* font-family: sans-serif; */
    font-family: open;
    font-weight: 200;
    text-transform: capitalize;
}
.what-page .right p {
    font-size: calc(var(--oneBlock) * 0.475);
}
.vid-cont {
    /* height: 100%;
    width: 100%; */
    height: calc(var(--oneBlock) * 14);
    width: calc(var(--oneBlock) * 10);
}
.what-page .left .p-support {
    /* background-color: antiquewhite; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: calc(var(--oneBlock) * 0.375);
    padding-left: calc(var(--oneBlock) * 0.375);
    border-left: calc(var(--oneBlock) * 0.0575) solid black;

}


.work-page {
    z-index: 3;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: calc(var(--oneBlock) * 0.375);
}
 /* .fixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
} */
.work-page #camera {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.work-page .first {
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    border-bottom: calc(var(--oneBlock) * 0.0575) solid black;
}
.first span {
    font-size: calc(var(--oneBlock) * 5);
    line-height: 1;
    font-family: anton;
}
.first .box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--oneBlock) * 1.75);
}
.first .box .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.5);
}
.first .box .top h1 {
    font-size: calc(var(--oneBlock) * 1.5);
    line-height: 1;
    text-transform: uppercase;
    font-family: anton;
}
.first .box p {
    font-family: open;
    font-size: calc(var(--oneBlock) * 0.7);
    font-weight: 200;
    text-transform: capitalize;
    width: 30%;
}

.work-page .second {
    width: 100%;
    height: 100vh;
    z-index: 3;
    border-bottom: calc(var(--oneBlock) * 0.0575) solid black;
    /* background-color: aquamarine; */
}
.second span {
    font-size: calc(var(--oneBlock) * 5);
    line-height: 1;
    font-family: anton;
}
.second .box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--oneBlock) * 1.75);
    margin-bottom: calc(var(--oneBlock) * 1.75);
}
.second .box .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.5);
}
.second .box .top h1 {
    font-size: calc(var(--oneBlock) * 1.5);
    line-height: 1;
    text-transform: uppercase;
    font-family: anton;
}
.second .box p {
    font-family: open;
    font-size: calc(var(--oneBlock) * 0.7);
    font-weight: 200;
    text-transform: capitalize;
    width: 30%;
}
.work-page .second .imgs-cont {
    z-index: 3;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(127, 159, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(var(--oneBlock) * 0.375);
}
.imgs-cont .img {
    width: calc(var(--oneBlock) * 5.3425);
    height: calc(var(--oneBlock) * 8);
    /* background-color: chocolate; */
}
.second .center {
    text-transform: capitalize;
    font-size: calc(var(--oneBlock) * 0.475);
    margin: calc(var(--oneBlock) * 0.475);
    text-align: center;
}

.work-page .third {
    width: 100%;
    height: 100vh;
    z-index: 3;
    border-bottom: calc(var(--oneBlock) * 0.0575) solid black;
    /* background-color: aquamarine; */
}
.third span {
    font-size: calc(var(--oneBlock) * 5);
    line-height: 1;
    font-family: anton;
}
.third .box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--oneBlock) * 1.75);
    margin-bottom: calc(var(--oneBlock) * 1);
}
.third .box .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.5);
}
.third .box .top h1 {
    font-size: calc(var(--oneBlock) * 1.5);
    line-height: 1;
    text-transform: uppercase;
    font-family: anton;
}
.third .box p {
    font-family: open;
    font-size: calc(var(--oneBlock) * 0.7);
    font-weight: 200;
    text-transform: capitalize;
    width: 30%;
}
.work-page .third .imgs-cont {
    z-index: 3;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(127, 159, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(var(--oneBlock) * 0.375);
}
.work-page .third .imgs-cont .img {
    width: 100%;
    height: calc(var(--oneBlock) * 10);
    /* background-color: chocolate; */
}
.third .center {
    text-transform: capitalize;
    font-size: calc(var(--oneBlock) * 0.475);
    /* margin: calc(var(--oneBlock) * 0.475); */
    text-align: left;

}



.work-page .fourth {
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    border-bottom: calc(var(--oneBlock) * 0.0575) solid black;
    position: relative;
}
.work-page .fourth #ellipes {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: transparent;
}
.fourth span {
    font-size: calc(var(--oneBlock) * 5);
    line-height: 1;
    font-family: anton;
}
.fourth .box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--oneBlock) * 1.75);
}
.fourth .box .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--oneBlock) * 0.5);
}
.fourth .box .top h1 {
    font-size: calc(var(--oneBlock) * 1.5);
    line-height: 1;
    text-transform: uppercase;
    font-family: anton;
}
.fourth .box p {
    font-family: open;
    font-size: calc(var(--oneBlock) * 0.7);
    font-weight: 200;
    text-transform: capitalize;
    width: 30%;
}


/* .work-page .first span, .work-page .first p, .work-page .first h1 {
    color: #f8f8f8;
} */




/* Responsive Media Queries (Mobile-First) */
/* Phone view: up to 576px */
@media (max-width: 576px) {
    html, body {
        background-color: brown;
    }
}

/* Tablet view: 577px to 768px */
@media (min-width: 577px) and (max-width: 768px) {
    html, body {
        background-color: cadetblue;
    }
}